---

# Copy this file to spec/hiera.yaml
# if you need to access hiera from spec tests

:backends:
  - yaml

:yaml:
  :datadir: '.'

:hierarchy:
<% if @configs[:puppet_module].include? "hostgroup" -%>
  - ../data/hostgroup/<%= @configs[:puppet_module].split('-').last %>
<% else -%>
  - ../data/<%= @configs[:puppet_module].split('-').last %>
<% end -%>
  - spec/custom
