<%-
  if @configs[:puppet_module].include? "it-puppet-hostgroup-"
    modtype = 'hostgroup'
  else
    modtype = 'module'
  end
-%>
---

# For reference the following ENV are uses in this file.
# CI_REGISTRY_IMAGE, e.g. gitlab-registry.cern.ch/ai/it-puppet-module-ci_images
# AI_CI_SSH_KEY, contains a private key for fetching deps.

stages:
  - images
  - tests
  - posttests

# Only in the it-puppet-module-ci_images is the docker image actually created.
# In all other repositories we simply skip this and use the image
# created in it-puppet-module-ci_images, this can be overridden
# via msync.

alma9-puppet-ci:
  stage: images
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  only:
    - branches@<%= @configs['imageproject'] %>
  script:
    - echo "Building docker image with Kaniko..."
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CONTEXT_DIR --dockerfile $DOCKER_FILE --cache=true --build-arg AI_CI_SSH_KEY="${AI_CI_SSH_KEY}" --destination $TO
  variables:
    CONTEXT_DIR: .
    DOCKER_FILE: ci/Dockerfile
    FROM:    gitlab-registry.cern.ch/linuxsupport/alma9-base
    TO:      ${CI_REGISTRY_IMAGE}:alma9-puppet-ci-<%= @configs['modulesync_config_version'] %>


.rake_template: &rake_template
  stage: tests
  image: <%= @configs['testimage'] %><%= @configs['modulesync_config_version'] %>
  artifacts:
    reports:
      junit: code/rspec*.xml
  script:
    - eval "$(rbenv init - bash)"
    - rbenv global ${RUBY_VERSION}
    - ruby -v
    - cd code
    - touch rspec.xml
    - rm -f ../ci/Gemfile.lock
    - BUNDLE_GEMFILE=../ci/Gemfile bundle install<% if @configs['localonly'] %> --local<% end %>
<% if @configs['use_gitlab_ci_token'] -%>
    - sed -i "s#ssh://git@gitlab.cern.ch:7999/#https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.cern.ch/#" .fixtures.yml
<% end -%>
    - BUNDLE_GEMFILE=../ci/Gemfile bundle exec rake --rakefile ../ci/Rakefile ${RAKE_TARGET}

puppet7:
  variables:
    RUBY_VERSION: "2.7.8"
    FACTER_GEM_VERSION: "~> 4.0"
    PUPPET_VERSION: "~> 7.24.0"
    RAKE_TARGET: test
    LANG: en_US.UTF-8
    LC_ALL: C.UTF-8
<% if @configs['strict_variables'] -%>
    <%=  "STRICT_VARIABLES: \"#{@configs['strict_variables']}\"" %>
<% end -%>
  <<: *rake_template

puppet8:
  variables:
    RUBY_VERSION: "3.2.4"
    FACTER_GEM_VERSION: "~> 4.0"
    PUPPET_VERSION: "~> 8.0"
    RAKE_TARGET: test
    LANG: en_US.UTF-8
    LC_ALL: C.UTF-8
  <<: *rake_template
  allow_failure: true

rubocop:
  variables:
    RUBY_VERSION: "2.7.8"
    FACTER_GEM_VERSION: "~> 4.0"
    PUPPET_VERSION: "~> 7.0"
    RAKE_TARGET: rubocop
  <<: *rake_template
<% if @configs['rubocop_allow_failure'] -%>
  allow_failure: true
<% end -%>

yaml-validate:
  stage: tests
  image: <%= @configs['testimage'] %><%= @configs['modulesync_config_version'] %>
  script:
    - if [ -d data ] && [ -d code/data ] ; then echo "Directory data and code/data cannot both exist." ; /bin/false ; else true; fi
    - if [ -d data ] ; then yaml-lint data ; else true; fi
    - if [ -d code/data ] ; then yaml-lint code/data ; else true; fi
    - if [ -d data ] ; then ruby ci/extra-yaml-checks.rb data <%= modtype %> ; fi
    - if [ -d code/data ] ; then ruby ci/extra-yaml-checks.rb code/data <%= modtype %> ; fi
    - if [ -f .sync.yml ] ; then yaml-lint .sync.yml ; else true; fi

rspec-unused:
  stage: tests
  image: <%= @configs['testimage'] %><%= @configs['modulesync_config_version'] %>
  script: /usr/bin/bash ci/extra-rspec-checks.sh

<%- if @configs['include'] -%>
include:
  <%- @configs['include'].each  do | item | -%>
    <%- i = 0 -%>
    <%- item.each do |key, value| -%>
      <%- if i == 0 -%>
  - <%= key %>: <%= value %>
      <%- else -%>
    <%= key %>: <%= value %>
      <%- end -%>
      <%- i = i + 1 -%>
    <%- end -%>
  <%- end -%>
<%- end -%>
