<table>
  <tr>
    <th><strong>Branch</strong></th>
<% @configs['branches'].each do | branch | -%>
    <th><%= branch == 'qa'? branch.upcase : branch.capitalize %></th>
<% end -%>
    <th>Coverage QA Branch</th>
  </tr>
  <tr>
    <td><strong>Build status</strong></td>
<% @configs['branches'].each do | branch | -%>
    <td>
      <a href='https://gitlab.cern.ch/ai/<%= @configs[:puppet_module] %>/commits/<%= branch %>'>
      <img src='https://gitlab.cern.ch/ai/<%= @configs[:puppet_module] %>/badges/<%= branch %>/pipeline.svg'></a>
    </td>
<% end -%>
    <td>
      <a href="https://gitlab.cern.ch/ai/<%= @configs[:puppet_module] %>/commits/qa">
      <img alt="coverage report" src="https://gitlab.cern.ch/ai/<%= @configs[:puppet_module] %>/badges/qa/coverage.svg" /></a>
    </td>
  </tr>
</table>

<br/>

Quick links:
* [Module readme](code/README.md) (may not exist)
* [Module reference](code/REFERENCE.md) (may not exist)
* [Module metadata](code/metadata.json)
* [Code directory](code/)
  * [Files directory](code/files)
  * [Libs directory](code/lib)
  * [Manifest directory](code/manifests)
  * [Templates directory](code/templates)
* [Data directory](data/)
* [Centrally maintained files for CI directory](ci/)

<br/>

Documentation and useful links:
* [CERN Configuration Guide](https://configdocs.web.cern.ch/configdocs/)
* [CERN modulesync configuration](https://gitlab.cern.ch/ai/it-puppet-modulesync-configs)
* [CERN modulesync changelog](https://gitlab.cern.ch/ai/it-puppet-modulesync-configs/blob/master/CHANGELOG.md)
* [Build results for all modules and hostgroups](https://gitlab.cern.ch/ai/it-puppet-modulesync-configs/blob/master/BUILDRESULTS.md)

<% @configs['urls'].each do |url| -%>
* <%= url %>
<% end -%>

---

_This file is maintained with modulesync_
