{
<% if @configs[:puppet_module].include? "hostgroup" -%>
  "name": <%= "\"CERNOps-hg_#{@configs[:puppet_module].split('-').last}\"," %>
<% else -%>
  "name": <%= "\"CERNOps-#{@configs[:puppet_module].split('-').last}\"," %>
<% end -%>
  "version": "0.0.0",
  "author": "CERNOps",
  "summary": "Configures things ...",
  "license": "Apache-2.0",
  "source": "https://gitlab.cern.ch/ai/<%= @configs[:puppet_module] %>",
  "dependencies": [
  ],
  "requirements": [
    {
      "name": "puppet",
      "version_requirement": ">= 6.1.0 < 8.0.0"
    }
  ],
  "operatingsystem_support": [
    {
      "operatingsystem": "AlmaLinux",
      "operatingsystemrelease": [
        "8",
        "9"
      ]
    },
    {
      "operatingsystem": "RedHat",
      "operatingsystemrelease": [
        "8",
        "9"
      ]
    }
  ]
}
