require 'puppetlabs_spec_helper/rake_tasks'

begin
  require 'puppet_blacksmith/rake_tasks'
  require 'puppet-strings/tasks'
rescue LoadError
end

RuboCop::RakeTask.new(:rubocop) do |task|
  # These make the rubocop experience maybe slightly less terrible
  task.options = ['-D', '-S', '-E', '--format', 'progress', '--format', 'junit', '--out', 'rspec.xml']
end

PuppetLint.configuration.log_format = '%{path}:%{line}:%{check}:%{KIND}:%{message}'
PuppetLint.configuration.fail_on_warnings = true
PuppetLint.configuration.top_scope_variables = <%= @configs['top_scope_variables'] + ( @configs['extra_top_scope_variables'] || []) %>
<% checks = @configs['default_disabled_lint_checks'] + ( @configs['extra_disabled_lint_checks'] || [] ) -%>
<% checks.each do |check| -%>
PuppetLint.configuration.send('<%= check %>')
<% end -%>

exclude_paths = %w(
  pkg/**/*
  vendor/**/*
  .vendor/**/*
  spec/**/*
<%- if @configs['extra_exclude_paths'] -%>
<%-   @configs['extra_exclude_paths'].each do |path|-%>
  <%= path %>
<%-   end -%>
<%- end -%>
)
PuppetLint.configuration.ignore_paths = exclude_paths
PuppetSyntax.exclude_paths = exclude_paths

desc 'Run acceptance tests'
RSpec::Core::RakeTask.new(:acceptance) do |t|
  t.pattern = 'spec/acceptance'
end

<% targets = @configs['default_enabled_rake_targets']  - ( @configs['extra_disabled_rake_targets'] || [] ) -%>
desc 'Run tests <%= targets.join(', ') %>'
task test: [
<% targets.each do |t| -%>
  :<%= t %>,
<% end -%>
]
# vim: syntax=ruby
